
<div ng-controller="SocialController" flex>
    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
        <md-grid-tile ng-repeat="member in listaUsers">
           
            <img class="imagenmiembro" style="max-width:100%;
max-height:100%;" ng-src="{{member.avatarfile}}" />
            <md-grid-tile-footer class="cuerpomiembro">
                <h3>{{member.alias}}</h3>
                <md-button class="md-icon-button centrado" ng-click="showWriteMsgDialog($event,member.alias)" aria-label="Settings">
                    <i class="mdi mdi-email"></i>
                    <md-tooltip>
                        Mensaje Privado
                    </md-tooltip>
                </md-button>
                <md-button class="md-icon-button centrado" ng-click="showInfoUser($event,member)" aria-label="Settings">
                    <i class="mdi mdi-information-outline"></i>
                    <md-tooltip>
                        Informacion
                    </md-tooltip>
                </md-button>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>