<md-dialog>
    <md-toolbar class="md-primary" flex="50">
        <h1 class="md-toolbar-tools ancho500">
      LOGIN
    </h1>
    </md-toolbar>
    <md-content layout-padding>
        <form name="projectForm">
            <md-input-container>
                <label>Nombre de Usuario</label>
                <input md-maxlength="30" required name="username" ng-model="form.username">
                <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>

                </div>
            </md-input-container>
            <md-input-container>
                <label>Contraseña</label>
                <input required name="password" type="password" ng-model="form.password">
                <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-primary" ng-click="checklogin()">
                    Login
                </md-button>
            </md-input-container>

        </form>
    </md-content>
</md-dialog>