<div ng-controller="SocialController">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Mensajes Enviados">
            <md-content class="md-padding">
                <div ng-repeat="msg in msgsSents">
                    <md-card>
                        <h3 class="centrado">{{msg.title}}</h3>
                        <md-divider></md-divider>
		
                        <h4 class="centrado">Destinatario: {{msg.target}}</h4>
                        <md-divider></md-divider>
                        <p class="centrado">{{msg.body}}</p>
                    </md-card>


                </div>

            </md-content>
        </md-tab>


        <md-tab label="Mensajes Recibidos">
            <md-content class="md-padding">

                <div ng-repeat="msg in msgsRecieved">
                    <md-card>
                        <h3 class="centrado">{{msg.title}}</h3>
                        <md-divider></md-divider>
                        <h4 class="centrado">Autor: {{msg.author}}</h4>
                        <md-divider></md-divider>
                        <p class="centrado">{{msg.body}}</p>
                    </md-card>

                </div>



            </md-content>
        </md-tab>
    </md-tabs>
</div>