<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Wake On Lan URJC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" th:href="@{css/style.css}" />
</head>

<body>
    <nav id="navbar" class="navbar navbar-default navbar-static-top">
        <div  class="container">
            <h1 class="text-center">Wake On Lan URJC</h1>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div id="login-form" class="text-center col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">

                <form role="form" action="/login" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Usuario</label>
                        <div class="col-sm-9">
                            <input name="user" type="text" class="form-control" placeholder="Usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Contraseña</label>
                        <div class="col-sm-9">
                            <input name="pass" type="password" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <span id="login-error" th:if="${status != null}"><span th:text="${error.summary}"></span></span>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary">Acceder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>