<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta http-equiv="refresh" content="1;url=/menu"></meta>
        <script type="text/javascript">
            window.location.href = "/menu"
        </script>
        <title>Wake On Lan URJC</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        Si no eres redireccionado automaticamente, haz click<a href='/menu'>aqui</a>.
    </body>
</html>