
.container {
    
}

#navbar {
    background: orangered;
}



body {
    background: lightblue;
}

#login-error {
    color: red;
}

#navtext {
    
}

#search-icon {
}

#search-button {
    background: yellow;
}
